/* ChatApp.css */
.chat-app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.chat-list {
  width: 17%;
  border-right: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  overflow-y: auto;
}

.chat-list h2 {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.chat-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat-list li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.chat-list li:hover {
  background-color: #ddd;
}

/* Add more space between list items */
.chat-list li + li {
  margin-top: 5px;
}

/* Style selected item */
.chat-list li.selected {
  background-color: #007bff;
  color: #fff;
}

.middle-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.chat-details {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  min-height: 0; /* allow flexbox to shrink the height */
}

.right-panel {
  width: 20%;
  border-left: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  overflow-y: auto;
}

.messages {
  display: flex;
  flex-direction: column;
}

.timestamp {
  font-size: 12px;
  margin-bottom: 0px;
}

.timestamp.bot {
  color: #808080;
}

.timestamp.user {
  color: #d8d8d8;
}

.message {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 10px;
  border-radius: 20px;
}

.message-body {
  font-size: 14px;
  padding: 0px;
  max-width: 100%;
}

.message-body.bot {
  color: #060505;
}

.message-body.user {  
  color: #fff;
}

.message.bot {
  align-self: flex-start;
  background-color: #eaecf4; /* Bot bubble color */
}

.message.user {
  align-self: flex-end;
  background-color: #007bff; /* User bubble color */
}

/* Message Input box */
.message-input {
  background-color: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px;
  flex-shrink: 0;
  display: flex;
  align-items: center; /* Align items vertically centered */
}

.message-input input {
  flex-grow: 1; /* Take available horizontal space */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.message-input button {
  width: 70px;
  padding: 10px 0;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex-shrink: 0;
}
